<div class="container">
    <div class="row">

    </div>
</div>
<hr>
<div class ="container">
    <form>
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="currentYear">
      <label ngbButtonLabel class="btn-danger">
        <input ngbButton type="radio"  value="2021" (click)="getYear('2020')" > 2020
      </label>
        <label ngbButtonLabel class="btn-danger">
          <input ngbButton type="radio"  value="2021" (click)="getYear('2021')" > 2021
        </label>
        <label ngbButtonLabel class="btn-danger">
          <input ngbButton type="radio" value="2022" (click)="getYear('2022')"> 2022
        </label>
        <label ngbButtonLabel class="btn-danger">
          <input ngbButton type="radio" [value]="2023" (click)="getYear('2023')"> 2023
        </label>
      </div>
      </form>

      
      
</div>
<br>
<br>


<div class="container">
    <h4>Closure Dates</h4>
    <div class="row col-md-2">
        <div id="menu-outer">
            <div class="table">
                {{ currentYear }}
                <ul id="horizontal-list">
                    
                    <li *ngFor="let day of currentClosure ">
                        
                      <app-date-input
                      [isPassed]="day.isPast"
                      [isSelected]="day.isSelected"
                      [dayOfWeek]="day.dateNumber"
                      [dayOfMonth]="day.dayOfWeek"
                      [isDefault]="day.isDefault"
                      >
                      </app-date-input>
                    </li>
                </ul>
            </div>

        </div>
        
    </div>
</div>

<br>
<br>

 <div class="container lol-lg-12">

<div class="scrollmenu">
    
    <table >
        <caption>JAN {{ currentYear }}</caption>
       
        <tr *ngFor="let row of monthJanArray;">
           
          <td  *ngFor="let column of days; let i = index;">
            <div *ngIf="row[i].dateNumber !== '00'" >
              <app-date-input
              [isPassed]="row[i].isPast"
              [isSelected]="row[i].isSelected"
              [dayOfWeek]="row[i].dateNumber"
              [dayOfMonth]="row[i].dayOfWeek"
              [isDefault]="row[i].isDefault"
              >
              </app-date-input>
            </div>
        </td>
    </tr>
      </table> 
      
      <table >
        <caption>FEB {{ currentYear }}</caption>
       
        <tr *ngFor="let row of monthFebArray;">
           
          <td  *ngFor="let column of days; let i = index;">
            <div *ngIf="row[i].dateNumber !== '00'" >
              <app-date-input
              [isPassed]="row[i].isPast"
              [isSelected]="row[i].isSelected"
              [dayOfWeek]="row[i].dateNumber"
              [dayOfMonth]="row[i].dayOfWeek"
              [isDefault]="row[i].isDefault"
              >
              </app-date-input>
            </div>
    </tr>
      </table> 
     
      <table >
        <caption>MAR {{ currentYear }}</caption>
       
        <tr *ngFor="let row of monthMarArray;">
           
          <td  *ngFor="let column of days; let i = index;">
            <div *ngIf="row[i].dateNumber !== '00'" >
              <app-date-input
              [isPassed]="row[i].isPast"
              [isSelected]="row[i].isSelected"
              [dayOfWeek]="row[i].dateNumber"
              [dayOfMonth]="row[i].dayOfWeek"
              [isDefault]="row[i].isDefault"
              >
              </app-date-input>
            </div>
        </td>
    </tr>
      </table> 
      
      <table >
        <caption>APR {{ currentYear }}</caption>
       
        <tr *ngFor="let row of monthAprArray;">
           
          <td  *ngFor="let column of days; let i = index;">
            <div *ngIf="row[i].dateNumber !== '00'" >
              <app-date-input
              [isPassed]="row[i].isPast"
              [isSelected]="row[i].isSelected"
              [dayOfWeek]="row[i].dateNumber"
              [dayOfMonth]="row[i].dayOfWeek"
              [isDefault]="row[i].isDefault"
              >
              </app-date-input>
            </div>
        </td>
    </tr>
      </table>
      
      <table >
        <caption>MAY {{ currentYear }}</caption>
       
        <tr *ngFor="let row of monthMayArray;">
           
          <td  *ngFor="let column of days; let i = index;">
            <div *ngIf="row[i].dateNumber !== '00'" >
              <app-date-input
              [isPassed]="row[i].isPast"
              [isSelected]="row[i].isSelected"
              [dayOfWeek]="row[i].dateNumber"
              [dayOfMonth]="row[i].dayOfWeek"
              [isDefault]="row[i].isDefault"
              >
              </app-date-input>
            </div>
        </td>
    </tr>
      </table>
      
      <table >
        <caption>JUNE {{ currentYear }}</caption>
       
        <tr *ngFor="let row of monthJuneArray;">
           
          <td  *ngFor="let column of days; let i = index;">
            <div *ngIf="row[i].dateNumber !== '00'" >
              <app-date-input
              [isPassed]="row[i].isPast"
              [isSelected]="row[i].isSelected"
              [dayOfWeek]="row[i].dateNumber"
              [dayOfMonth]="row[i].dayOfWeek"
              [isDefault]="row[i].isDefault"
              >
              </app-date-input>
            </div>
        </td>
    </tr>
      </table>
      
      <table >
        <caption>JULY {{ currentYear }}</caption>
       
        <tr *ngFor="let row of monthJulyArray;">
           
          <td  *ngFor="let column of days; let i = index;">
            <div *ngIf="row[i].dateNumber !== '00'" >
              <app-date-input
              [isPassed]="row[i].isPast"
              [isSelected]="row[i].isSelected"
              [dayOfWeek]="row[i].dateNumber"
              [dayOfMonth]="row[i].dayOfWeek"
              [isDefault]="row[i].isDefault"
              >
              </app-date-input>
            </div>
        </td>
    </tr>
      </table>
      
      <table >
        <caption>AUG {{ currentYear }}</caption>
       
        <tr *ngFor="let row of monthAugArray;">
           
          <td  *ngFor="let column of days; let i = index;">
            <div *ngIf="row[i].dateNumber !== '00'" >
              <app-date-input
              [isPassed]="row[i].isPast"
              [isSelected]="row[i].isSelected"
              [dayOfWeek]="row[i].dateNumber"
              [dayOfMonth]="row[i].dayOfWeek"
              [isDefault]="row[i].isDefault"
              >
              </app-date-input>
            </div>
        </td>
    </tr>
      </table>
      <table >
        <caption>SEP {{ currentYear }}</caption>
       
        <tr *ngFor="let row of monthSeptArray;">
           
          <td  *ngFor="let column of days; let i = index;">
            <div *ngIf="row[i].dateNumber !== '00'" >
              <app-date-input
              [isPassed]="row[i].isPast"
              [isSelected]="row[i].isSelected"
              [dayOfWeek]="row[i].dateNumber"
              [dayOfMonth]="row[i].dayOfWeek"
              [isDefault]="row[i].isDefault"
              >
              </app-date-input>
            </div>
        </td>
    </tr>
      </table>
      <table >
        <caption>OCT {{ currentYear }}</caption>
       
        <tr *ngFor="let row of monthOctArray;">
           
          <td  *ngFor="let column of days; let i = index;">
            <div *ngIf="row[i].dateNumber !== '00'" >
              <app-date-input
              [isPassed]="row[i].isPast"
              [isSelected]="row[i].isSelected"
              [dayOfWeek]="row[i].dateNumber"
              [dayOfMonth]="row[i].dayOfWeek"
              [isDefault]="row[i].isDefault"
              >
              </app-date-input>
            </div>
        </td>
    </tr>
      </table>
      <table >
        <caption>NOV {{ currentYear }}</caption>
       
        <tr *ngFor="let row of monthNovArray;">
           
          <td  *ngFor="let column of days; let i = index;">
            <div *ngIf="row[i].dateNumber !== '00'" >
              <app-date-input
              [isPassed]="row[i].isPast"
              [isSelected]="row[i].isSelected"
              [dayOfWeek]="row[i].dateNumber"
              [dayOfMonth]="row[i].dayOfWeek"
              [isDefault]="row[i].isDefault"
              >
              </app-date-input>
            </div>
        </td>
    </tr>
      </table>
      <table >
        <caption>DEC {{ currentYear }}</caption>
       
        <tr *ngFor="let row of monthDecArray;">
           
          <td  *ngFor="let column of days; let i = index;">
            <div *ngIf="row[i].dateNumber !== '00'" >
              <app-date-input
              [isPassed]="row[i].isPast"
              [isSelected]="row[i].isSelected"
              [dayOfWeek]="row[i].dateNumber"
              [dayOfMonth]="row[i].dayOfWeek"
              [isDefault]="row[i].isDefault"
              >
              </app-date-input>
            </div>
        </td>
    </tr>
      </table>
</div>
    
</div>
