<div class="container">
    <div class="row">

    </div>
</div>
<hr>
<div class ="container">
    <form>
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="currentYear">
      <label ngbButtonLabel class="btn-outline-danger">
        <input ngbButton type="radio"  value="2020" (click)="getYear('2020')" > 2020
      </label>
        <label ngbButtonLabel class="btn-outline-danger">
          <input ngbButton type="radio"  value="2021" (click)="getYear('2021')" > 2021
        </label>
        <label ngbButtonLabel class="btn-outline-danger">
          <input ngbButton type="radio" value="2022" (click)="getYear('2022')"> 2022
        </label>
        <label ngbButtonLabel class="btn-outline-danger">
          <input ngbButton type="radio" [value]="2023" (click)="getYear('2023')"> 2023
        </label>
      </div>
      </form>

      
      
</div>
<br>
<br>

<div class="container">
  <div class="row col-md-12">
    <h4>Closure Dates </h4> <span> </span>
    <h4> {{currentYear }}</h4>
    <div *ngFor="let day of updatedClosureDates; let i = index;" [ngSwitch]="day.dateKey | dateMonth">

      <div *ngSwitchCase="'01'">
        <button *ngIf="!day.isPast && !day.isDefault" class="btn-date" [ngClass]="{'selected' : day.isSelected,
                            'unselected' : !day.isSelected}" (click)="getDateId(day.isSelected, day.dateKey)">
          <svg class="icon " focusable="false">
            <use xlink:href="assets/static/icons/icon-checkmark.svg#asset"></use>
            <title></title>
          </svg>
          <div class="day">{{day.dateKey | monthStr }}
            {{day.dateKey | yearStr}}</div>
          <div class="day">{{day.dateNumber}}</div>
          <div>{{day.dayOfWeek}}</div>
          
        </button>

      </div>
      <div *ngSwitchCase="'02'">
       
        <button *ngIf="!day.isPast && !day.isDefault" class="btn-date" [ngClass]="{'selected' : day.isSelected,
      'unselected' : !day.isSelected}" (click)="getDateId(day.isSelected, day.dateKey)">
          <svg class="icon " focusable="false">
            <use xlink:href="assets/static/icons/icon-checkmark.svg#asset"></use>
            <title></title>
          </svg>

          <div class="day">{{day.dateKey | monthStr }}
            {{day.dateKey | yearStr}}</div>
          <div class="day">{{day.dateNumber}}</div>
          <div>{{day.dayOfWeek}}</div>
        </button>
      </div>
      <div *ngSwitchCase="'03'">
       

        <button *ngIf="!day.isPast && !day.isDefault" class="btn-date" [ngClass]="{'selected' : day.isSelected,
      'unselected' : !day.isSelected}" (click)="getDateId(day.isSelected, day.dateKey)">
          <svg class="icon " focusable="false">
            <use xlink:href="assets/static/icons/icon-checkmark.svg#asset"></use>
            <title></title>
          </svg>

          <div class="day">{{day.dateKey | monthStr }}
            {{day.dateKey | yearStr}}</div>
          <div class="day">{{day.dateNumber}}</div>
          <div>{{day.dayOfWeek}}</div>
        </button>
      </div>
      <div *ngSwitchCase="'04'">
        
        <button *ngIf="!day.isPast && !day.isDefault" class="btn-date" [ngClass]="{'selected' : day.isSelected,
      'unselected' : !day.isSelected}" (click)="getDateId(day.isSelected, day.dateKey)">
          <svg class="icon " focusable="false">
            <use xlink:href="assets/static/icons/icon-checkmark.svg#asset"></use>
            <title></title>
          </svg>

          <div class="day">{{day.dateKey | monthStr }}
            {{day.dateKey | yearStr}}</div>
          <div class="day">{{day.dateNumber}}</div>
          <div>{{day.dayOfWeek}}</div>
        </button>
      </div>
      <div *ngSwitchCase="'05'">
        
        <button *ngIf="!day.isPast && !day.isDefault" class="btn-date" [ngClass]="{'selected' : day.isSelected,
      'unselected' : !day.isSelected}" (click)="getDateId(day.isSelected, day.dateKey)">
          <svg class="icon " focusable="false">
            <use xlink:href="assets/static/icons/icon-checkmark.svg#asset"></use>
            <title></title>
          </svg>

          <div class="day">{{day.dateKey | monthStr }}
            {{day.dateKey | yearStr}}</div>
          <div class="day">{{day.dateNumber}}</div>
          <div>{{day.dayOfWeek}}</div>
        </button>
      </div>
      <div *ngSwitchCase="'06'">
        
        <button *ngIf="!day.isPast && !day.isDefault" class="btn-date" [ngClass]="{'selected' : day.isSelected,
      'unselected' : !day.isSelected}" (click)="getDateId(day.isSelected, day.dateKey)">
          <svg class="icon " focusable="false">
            <use xlink:href="assets/static/icons/icon-checkmark.svg#asset"></use>
            <title></title>
          </svg>

          <div class="day">{{day.dateKey | monthStr }}
            {{day.dateKey | yearStr}}</div>
          <div class="day">{{day.dateNumber}}</div>
          <div>{{day.dayOfWeek}}</div>
        </button>
      </div>
      <div *ngSwitchCase="'07'">
        
        <button *ngIf="!day.isPast && !day.isDefault" class="btn-date" [ngClass]="{'selected' : day.isSelected,
      'unselected' : !day.isSelected}" (click)="getDateId(day.isSelected, day.dateKey)">
          <svg class="icon " focusable="false">
            <use xlink:href="assets/static/icons/icon-checkmark.svg#asset"></use>
            <title></title>
          </svg>

          <div class="day">{{day.dateKey | monthStr }}
            {{day.dateKey | yearStr}}</div>
          <div class="day">{{day.dateNumber}}</div>
          <div>{{day.dayOfWeek}}</div>
        </button>
      </div>
      <div *ngSwitchCase="'08'">
       
        <button *ngIf="!day.isPast && !day.isDefault" class="btn-date" [ngClass]="{'selected' : day.isSelected,
      'unselected' : !day.isSelected}" (click)="getDateId(day.isSelected, day.dateKey)">
          <svg class="icon " focusable="false">
            <use xlink:href="assets/static/icons/icon-checkmark.svg#asset"></use>
            <title></title>
          </svg>

          <div class="day">{{day.dateKey | monthStr }}
            {{day.dateKey | yearStr}}</div>
          <div class="day">{{day.dateNumber}}</div>
          <div>{{day.dayOfWeek}}</div>
        </button>
      </div>
      <div *ngSwitchCase="'09'">
        
        <button *ngIf="!day.isPast && !day.isDefault" class="btn-date" [ngClass]="{'selected' : day.isSelected,
      'unselected' : !day.isSelected}" (click)="getDateId(day.isSelected, day.dateKey)">
          <svg class="icon " focusable="false">
            <use xlink:href="assets/static/icons/icon-checkmark.svg#asset"></use>
            <title></title>
          </svg>

          <div class="day">{{day.dateKey | monthStr }}
            {{day.dateKey | yearStr}}</div>
          <div class="day">{{day.dateNumber}}</div>
          <div>{{day.dayOfWeek}}</div>
        </button>
      </div>
      <div *ngSwitchCase="'10'">
        
        <button *ngIf="!day.isPast && !day.isDefault" class="btn-date" [ngClass]="{'selected' : day.isSelected,
      'unselected' : !day.isSelected}" (click)="getDateId(day.isSelected, day.dateKey)">
          <svg class="icon " focusable="false">
            <use xlink:href="assets/static/icons/icon-checkmark.svg#asset"></use>
            <title></title>
          </svg>

          <div class="day">{{day.dateKey | monthStr }}
            {{day.dateKey | yearStr}}</div>
          <div class="day">{{day.dateNumber}}</div>
          <div>{{day.dayOfWeek}}</div>
        </button>
      </div>
      <div *ngSwitchCase="'11'">
        
        <button *ngIf="!day.isPast && !day.isDefault" class="btn-date" [ngClass]="{'selected' : day.isSelected,
      'unselected' : !day.isSelected}" (click)="getDateId(day.isSelected, day.dateKey)">
          <svg class="icon " focusable="false">
            <use xlink:href="assets/static/icons/icon-checkmark.svg#asset"></use>
            <title></title>
          </svg>

          <div class="day">{{day.dateKey | monthStr }}
            {{day.dateKey | yearStr}}</div>
          <div class="day">{{day.dateNumber}}</div>
          <div>{{day.dayOfWeek}}</div>
        </button>
      </div>
      <div *ngSwitchCase="'12'">
        
        <button *ngIf="!day.isPast && !day.isDefault" class="btn-date" [ngClass]="{'selected' : day.isSelected,
      'unselected' : !day.isSelected}" (click)="getDateId(day.isSelected, day.dateKey)">
          <svg class="icon " focusable="false">
            <use xlink:href="assets/static/icons/icon-checkmark.svg#asset"></use>
            <title></title>
          </svg>

          <div class="day">{{day.dateKey | monthStr }}
            {{day.dateKey | yearStr}}</div>
          <div class="day">{{day.dateNumber}}</div>
          <div>{{day.dayOfWeek}}</div>
        </button>
      </div>
      
      


    </div>

  </div>

</div>

<br>
<br>
<div class="container">
  <div class="scrollmenu">

  
    <div class="card" *ngFor="let month of testMyYearArray; let i = index">
    <h4>{{i | month }} {{ currentYear }}</h4>
    
    <table>
    <tr *ngFor="let row of month;">
      <td *ngFor="let column of days; let i = index;">
          <div *ngIf="row[i].dateNumber !== '00'">
            <button *ngIf="!row[i].isPast && !row[i].isDefault" class="btn-date" [ngClass]="{'selected' : row[i].isSelected,
                'unselected' : !row[i].isSelected}" (click)="getDateId(row[i].isSelected, row[i].dateKey)">
              <input type="checkbox" name="row[i].dateKey" value="row[i].dateKey" />
              <svg class="icon " focusable="false">
                <use xlink:href="assets/static/icons/icon-checkmark.svg#asset"></use>
                <title></title>
              </svg>
              <div class="day">{{row[i].dateNumber}}</div>
              <div>{{row[i].dayOfWeek}}</div>
            </button>
            <button *ngIf="row[i].isPast || row[i].isDefault" class="btn-date" [ngClass]="{'passed-selected' : row[i].isSelected && row[i].isPast && !row[i].isDefault,
                'passed-unselected' : !row[i].isSelected && row[i].isPast && !row[i].isDefault}" placement="auto"
              triggers="click:blur" ngbTooltip="{{getTooltipText(row[i].isPast)}}">
              <svg *ngIf="row[i].isDefault" class="icon logo" focusable="false">
                <use xlink:href="assets/static/icons/icon-CH-logo.svg#asset"></use>
                <title></title>
              </svg>
              <svg *ngIf="!row[i].isDefault" class="icon " focusable="false">
                <use xlink:href="assets/static/icons/icon-checkmark.svg#asset"></use>
                <title></title>
              </svg>
              <div class="day">{{row[i].dateNumber}}</div>
              <div>{{row[i].dayOfWeek}}</div>
            </button>
          </div>
          
        </td>
      </tr>
    </table>
  </div>
  
  
</div>
  </div>
<div class="container">
  <div class="row justify-content-end">
      <button type="button" class="btn btn-outline-danger" (click)="submitClosureDates()" >Submit</button>
    </div>
</div>
<footer>

</footer>

 