<div *ngIf="!isPassed && !isDefault"
    class="btn-date"
    [ngClass]="{'selected' : isSelected,
                'unselected' : !isSelected}"
                >
    <input 
        (click)="getDateId($event, dateKey)"
        type="checkbox" 
        value="dateKey" 
        />
    <svg class="icon " focusable="false">
        <use xlink:href="assets/static/icons/icon-checkmark.svg#asset"></use>
        <title></title>
    </svg>
    <div class="day">{{dayOfWeek}}</div>
    <div>{{dayOfMonth}}</div>
</div>
<button
    *ngIf="isPassed || isDefault"
    class="btn-date"
    [ngClass]="{'passed-selected' : isSelected && isPassed && !isDefault,
                'passed-unselected' : !isSelected && isPassed && !isDefault}"
    placement="auto" triggers="click:blur" ngbTooltip="{{getTooltipText()}}">
    <svg *ngIf="isDefault" class="icon logo" focusable="false">
        <use xlink:href="assets/static/icons/icon-CH-logo.svg#asset"></use>
        <title></title>
    </svg>
    <svg *ngIf="!isDefault" class="icon " focusable="false">
        <use xlink:href="assets/static/icons/icon-checkmark.svg#asset"></use>
        <title></title>
    </svg>
    <div class="day">{{dayOfWeek}}</div>
    <div>{{dayOfMonth}}</div>
</button>
